/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    font-family: 'Assistant', sans-serif;
    font-style:thin;
    padding: 0;
    margin: 0;
}

header,
 {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: 0px;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    margin: 0;
}

header
 {
    /* centers header and footer content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6e6;
    filter: drop-shadow(6px 6px 6px #ef2651);
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-image: linear-gradient(#ffe6e6, white);
  
}
.menuitem{
    background-color: azure;
    text-align: center;
    margin: 2px;    
}
.submenu{
 background-color:lightgrey;
 margin: 2px;   
 list-style-type: none;
}
/*****************
Grid Formatting  
*****************/
#wrapper{
    display: grid;
    display: grid;
    height: 100vh;
    grid-template-areas: "header" "sidenav" "article" "sidebar";
    grid-template-rows: 1fr 1fr 10fr 1fr ;
  
}
header {
    grid-area: header;

}

nav {
    grid-area: sidenav;
}
article {
    grid-area: article;
}

aside {
    grid-area: sidebar;
}

.submenu{
display: none;
padding: 10px;
}
@media screen and (min-width: 760px){ 
    #wrapper {
        grid-template-areas: "header header header"  /* 1st row: header spans three columns  */
        "sidebar article sidenav"  /* 2nd row: one element in each of 3 columns  */
        "sidebar article sidenav"; /* 3rd row: footer spans three columns */
        grid-template-rows: 1fr 10fr 1fr;   /* defines relative height of three rows */
        grid-template-columns: 10% auto 10%;   /* defines width of the three columns */
    }
}