body {
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-style:thin;
    font-size: 16px;
  }
  
  .container {
    width: 100vw;
    height: 100%;
    background: white;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
  }
  .mygrid {
    width: 100%;
    max-width: 1500px;
    display: grid;
    min-height: 100%;
    height:100%;
    grid-template-areas:"titlebar" "sidebar" "scrolling-container";
    grid-template-rows: 100px  auto;
    grid-template-columns: 0% 0% auto;
   
  }
  @media screen and (min-width: 700px){ 
    .mygrid {
    justify-content: center;
        width:100%;
        min-height: 100%;
        grid-template-areas: "sidebar-top titlebar titlebar" /*first row*/
        "sidebar scrolling-container scrolling-container" /*secondrow*/
        "sidebar scrolling-container scrolling-container" /*third row*/
        "sidebar scrolling-container scrolling-container" ;/*fourth row*/
        grid-template-rows: 100px auto auto auto ;   /* defines relative height of three rows */
        grid-template-columns: 155px auto auto;   /* defines width of the three columns */
      
    }
}
  .content {
   
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: pink;

  }
  
  .sidebar {
    grid-row: 1/7;
    display: flex;
    flex-direction: column;
    background-color:#ffeff2;
    position: relative;
    z-index: 1;
   
 
  }

  .scrolling-container {
    grid-column: 2/4;
    grid-row: 2/7;
    overflow: scroll;
   
  }
  .sidebar-top {
    width: 100%;
    display: flex;
    min-height: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .sidebar-bottom {
    position: absolute;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  
  }
  .sidebar-links img{
    display: flex;
    justify-content: center;
    align-items: center;
  max-height: 40%;
  max-width: 40%;
  justify-content: center;
    
  }

  .sidebar-links {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-areas: "space" "work" "resume" "notes" "contact";
    grid-template-rows:   150px 150px 150px 150px 150px;
    
  }

  .sidebar-links a {
    display: block;
    color: #ef2651;
    text-decoration: none;
    font-size: 24px;
  }
  .sidebar-links a:hover{
    color: blueviolet;
  }
  
  
  .titlebar {
    font-family: 'Assistant', sans-serif;
    font-weight: bolder;
    font-style: italic;
    width: 100%;
    background-image: linear-gradient(#ffe6e6, white);
    grid-column: 2/span 3;
    display: flex;
    padding: 0 0.5em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 50px 1fr 50px;
    filter: drop-shadow(6px 6px 6px #ef2651);
    z-index: 1;
  }
  
  
  .photo{
    width: 100%;
    display: flex;
    position:relative;
  }
  .photo img{  
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 100%;
    height: 100%;
  }

  .logo img{
    width: 70%;
    height:70%;
    display: flex;
    
  }
.name{
  display: flex;
  color: #ef2651;
  font-size: 3em;
  height:100%;
  width: 100%;
  grid-column:2/2;
}
.title2{
  min-height:100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.cell3{
  height:100%;
  width: 100%;
  grid-row: 2/3;
  background-color: blueviolet;
}
.image3{
  width: 100%;
  height:100%;
  grid-row: 2/3;
  background-color:white;
  justify-content:  center;
  align-items: center;
}
.image3 img{ 
 max-height:100%;
 max-width:100%;
  display:flex;

  
}
.cell4{
  height:100%;
  width: 100%;
  grid-row: 3/4;
  background-color: blueviolet;
  
}
.image4{
  width: 100%;
  height:100%;
  grid-row: 3/4;
  background-color:white;
  justify-content:  center;
  align-items: center;
  
}
.image4 img{ 
  max-height:100%;
  max-width:100%;
   display:flex;
 
   
   
 }
.cell5{
  height:100%;
  width: 100%;
  grid-row: 4/5;
  background-color: blue;
}
.image5{
  width: 100%;
  height:100%;
  grid-row: 4/5;
  background-color:white;
  justify-content:  center;
  align-items: center;
}
.image5 img{ 
  max-height:100%;
  max-width:100%;
   display:flex;
   
   
 }
.cell6{
  height:100%;
  width: 100%;
  grid-row: 5/6;
  background-color: aqua;
}

.image6{
  width: 100%;
  height:100%;
  grid-row: 5/6;
  background-color:white;
  justify-content:  center;
  align-items: center;
}
.image6 img{ 
  max-height:100%;
  max-width:100%;
   display:flex;

   
 }

  
 .centered {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #ef2651;
}


