/*this is putting zero pixles around the margin of the body text
This is also setting the marbled image as the background image */
body {
    margin: 0;
    background-image: url("marble.jpg");
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400; 
}
div.container {

    width: 250px;
    min-height: 75px;
    background:#f8f2fc;
    margin: 40px auto 0 auto;
    padding: 10px;
     box-shadow: 3px 3px 2px 3px #d5d4d6;

}

img.image {
    
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family:'Open Sans', sans-serif;
    font-size: 24pt;
    color: #33144c;
    margin-left: 45%;
    align-content: center;

   
    
}

    

