
.site-header{
    align-items:center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 30px;
    border-bottom: 5px solid rgb(242, 242, 242);
   /* display: flex;
    position: relative;
    box-sizing: border-box;*/
}
nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    text-align: right;
    float: right;
    width:30%;
    text-decoration: none;
    display:flex;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-around;
    
}
/*
not relevant when youre not transitioning
.link-transition a{
    transition: background 0.2s ease, color 0.2s ease;
    transition-property: color;
    transition-duration: 0.2s,  0.2s;
    transition-timing-function: ease, ease;
    transition-delay: initial, initial; 
    text-decoration: none;
    background: transparent;
    box-sizing: border-box;
    font-weight: 700;
}
*/

a:-webkit-any-link {
    color: #999999;
    cursor: auto;
    text-decoration:none;
    font-weight: 400;
    
}
a:hover { 
    color:rgb(244, 66, 75);
    font-weight: 900;
  font-weight: bolder;
  text-decoration-line: underline;

}
/*
Not sure what this does yet
.site-header::after, .logo-wrap::after {
    clear: both;
    content: "";
    display: table;
}
*/
/*need to figure out why it is not center*/
.logo-wrap{
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    color:rgb(244, 66, 75);
    font-weight: 900;
    font-size: 36;
    max-width: 100%;
    margin-left: 5%;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    font-style: italic;
}
.introduction{
    max-width: 800px;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    

}
.welcome{
    color:rgb(244, 66, 75);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
}
.subhead{
    color: rgb(153, 153, 153);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    text-transform: none;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;

}
.box1{
    clear: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 0px;
    width: calc(100% - 0px);
    display: block;
    float: left;
    position: relative;
    background: transparent;
    box-sizing: border-box;
}
.cover-image-wrap{
    padding-top: 50px;
    float: left;
    width: 60%;
    height: 450px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: block;
}
.cover-image{
    border-radius: 0px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: block;

}
.cover-normal{
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    border-radius: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}