/*Project 2*/
img {
    border: 2px solid black;
    border-radius: 5px;
}
main {
    /* set up grid:
       - rows are implicitly defined by content
       - browser will create as many 250px columns as it can, 
         and will stretch columns to use up additional space (1-249px) */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* add space between rows and columns */
    grid-gap: .5rem;
    /* set the main element to be centered in the flex column */
    align-self: center;
    /* keep gallery from going to edge of viewport */
    max-width: 95vw;
    /* provide space between main and the header and footer */
    margin: 1rem 0;

    animation: entrance .5s linear both;


}
@keyframes entrance{
    from{transform: translateX(-2000px);}
    to {transform: translateY(0px);}
    }
    main div:nth-child(1) {
        animation: entrance 2s linear both;
        }


    main img { transition: all .2s ease-in-out; }
    main img:hover { transform: scale(1.2); }

    @keyframes spin{
        0%{transform:rotate(0 turn); }
        100%{transform: rotateY(360deg);}
    }
    a:hover .fa { 
        color: #ccc;
        animation: spin .5s linear both;
        }