
.site-header{
    align-items:center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 30px;
    border-bottom: 5px solid rgb(242, 242, 242);
   /* display: flex;
    position: relative;
    box-sizing: border-box;*/
}
nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    text-align: right;
    float: right;
    width:30%;
    text-decoration: none;
    display:flex;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-around;
    
}
/*
not relevant when youre not transitioning
.link-transition a{
    transition: background 0.2s ease, color 0.2s ease;
    transition-property: color;
    transition-duration: 0.2s,  0.2s;
    transition-timing-function: ease, ease;
    transition-delay: initial, initial; 
    text-decoration: none;
    background: transparent;
    box-sizing: border-box;
    font-weight: 700;
}
*/

a:-webkit-any-link {
    color: #999999;
    cursor: auto;
    text-decoration:none;
    font-weight: 400;
    
}
a:hover { 
  color: black;
  font-weight: 700;
}
/*
Not sure what this does yet
.site-header::after, .logo-wrap::after {
    clear: both;
    content: "";
    display: table;
}
*/
.logo-wrap{
    color:rgb(244, 66, 75);
    font-weight: 900;
    font-size: 24;
    max-width: 100%;
    margin-left: 50%;
    margin-right: 50%;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 40%;
    flex: 1 1 0%;
    box-sizing: border-box;
    display: flex;
}



